@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin defaultBackground() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
