$colorYellow: #fade34;
$colorDarkYellow: #7a6e1a;
$colorBlack: #3b340c;
$colorWhite: #ffffff;

$sizeText: 2.4rem;
$sizeSubTitle: 3.2rem;
$sizeLogo: 3.6rem;
$sizeHeader: 4.8rem;

$defaultShadow: 0px 2px 15px 2px
  rgba(
    $color: #b6b6b6,
    $alpha: 0.25,
  );
